<!DOCTYPE html>
<html>
    <p>Hey <strong>{{ name }}</strong>,</p>
    <p>We just got a request for reseting your user's password. </p>
    <p>If you have not requested for this, just do nothing. Otherwise, clicking <a href="http:/auth.alvidir.com:8080/reset?t={{ token }}">right here</a> you will be able to provide a new password for your access to Alvidir.</p>
    <p><small>For any help, please reach us in the support email - <a href="mailto:support@alvidir.com">support@alvidir.com</a></small></p>
</html>